<!DOCTYPE html>
<html>
<%- include ../views/partials/style.ejs %>
<body background="https://monodomo.com/free-wallpapers/dark-nature-wallpapers-1080p-For-Free-Wallpaper-1.jpg" >
<br><br><br>
<h2 style="color:white">Edit question</h2>
<div style="margin-left: 26%; width: 50%;">
  <form action=" /question/<%=questionData.dataValues.id %>/edit" method="POST">
    <label style="color: white;" for="question">Question</label>
    <input type="text" name="question" value="<%= questionData.dataValues.question%>">

    <label style="color: white;" for="answer">Answer</label>
    <input type="text"  name="answer" value="<%= questionData.dataValues.answer%>">
  
    <input type="submit" value="Submit">
  </form>
  <button class="button" onclick="window.location.href='/question'">Cancel</button>
</div>
<br>

<table style="width:100%">
    <tr>
        <th>id</th>
        <th>Question</th>
        <th>Answer</th>
    </tr>
    <tr>
        <td><%= questionData.dataValues.id%></td>
        <td><%= questionData.dataValues.question%></td>
        <td><%= questionData.dataValues.answer%></td>
    </tr>
</table>

</body>
</html>
