<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Duolingo Clone App</title>
    <style>
        table, th, td {
          margin: auto;
          text-align: center;
        }
    </style>
    <%- include ../views/partials/style.ejs %>
</head>
<body background="https://monodomo.com/free-wallpapers/dark-nature-wallpapers-1080p-For-Free-Wallpaper-1.jpg" >
	<%- include ../views/partials/navbarN.ejs %>
    <h1 style="color:white">List of Questions</h1>
    <h3><a href="/question/add" style="color:white; float:center;">Add Question</a></h3>
    <table style="width: 30%; margin-top: 3%; margin-left: 35%; background-color: black; opacity: 0.7;">
        <tr>
            <th>id</th>
            <th>question</th>
            <th>answer</th>
            <th>option</th>
        </tr>
        <tr>
            <% questionData.forEach(question => { %>
                <td><%= question.dataValues.id%></td>
                <td><%= question.dataValues.question%></td>
                <td><%= question.dataValues.answer%></td>
                <td><a href="/question/<%=question.dataValues.id%>/edit">edit</a> || <a href="/question/<%=question.dataValues.id%>/delete">delete</a></td>
        </tr>
        <% })%>
    </table>
</body>
</html>